@import '__reset';
@import '__variables';

html,
body {
  font: 14px/24px 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: $colorBackground;
  color: $colorText;
}

p {
  font-weight: 300;
}

a {
  color: $colorLink;
  text-decoration: none;
  transition: all 80ms ease-in;
  font-weight: bold;
  font-weight: 14px;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $colorLinkHover;
  }
}

.wrapper {
  margin: 0 auto;
  display: block;
}

.hidden {
  display: none;
}
