@import '__reset';
@import '__variables';

html,
body {
  font: 16px/16px 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: $color-background;
  color: $color-text;
}

a {
  color: $color-link;
  text-decoration: underline;
  transition: all 80ms ease-in;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-link-hover;
  }
}

.wrapper {
  margin: 0 auto;
  display: block;
}

.hidden {
  display: none;
}
