$colorBlack: #000000;
$colorWhite: #ffffff;
$colorBlue: #0071f4;
$colorCyan: #b3d6ff;
$colorGray: #808080;
$colorFrafite: #526780;
$colorLime: #00f482;
$colorRed: #f03;

$colorBorderGray: #ccc;
$colorBackground: $colorWhite;
$colorLink: $colorBlue;
$colorLinkHover: $colorCyan;
$colorText: #333;
$colorTextGray: #999;

$breakXsmall: 420px;
$breakSmall: 768px;
$breakMedium: 960px;
$breakLarge: 1280px;
$maxWidth: 1980;

$phoneScreen: 'only screen and (min-width : #{$breakXsmall})';
$tabletScreen: 'only screen and (min-width : #{$breakSmall})';
$tabletLandscapeScreen: 'only screen and (min-width : #{$breakMedium})';
$laptopScreen: 'only screen and (min-width : #{$breakLarge})';
$wideScreen: 'only screen and (min-width : #{$maxWidth})';

$borderRadius: 24px;

@mixin flex {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

@mixin flex-spaced {
  @include flex;
  justify-content: space-between;
}

@mixin flex-end {
  @include flex;
  align-items: flex-end;
}

@mixin flex-start {
  @include flex;
  align-items: flex-start;
}

@mixin flex-spaced-start {
  @include flex;
  justify-content: space-between;
  align-items: flex-start;
}
